.lists {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.lists .down {
  width: 100%;
  margin-top: .5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.lists .down .bookItem {
  width: 40%;
  margin-left: 6.5%;
  height: 13rem;
  margin-bottom: .5rem;
  border: 1px solid #ccc;
}

.lists .down .bookItem dl {
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.lists .down .bookItem dl dt {
  width: 5rem;
  height: 6rem;
}

.lists .down .bookItem dl dt .bl_img {
  width: 100% !important;
  height: 100% !important;
}

.lists .down .bookItem dl dd {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.lists .down .bookItem dl dd p {
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: left;
  font-size: .7rem;
  color: #fc5d5d;
}

.lists .down .bookItem dl dd p span {
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: left;
  font-size: .6rem;
  color: #525050;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.lists .down .bookItem dl dd p:nth-child(1) span {
  font-weight: bold;
}

.lists .down .bookItem dl dd p:nth-child(4) span {
  display: block;
  background-color: #faebd8;
  color: #eb5223;
  border-radius: .5rem;
  text-align: center;
  width: 3rem;
}

.lists .down .alert {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  font-size: .7rem;
  text-align: center;
  color: #858181;
}

.lists .empty {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
