.classify {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.classify .topNav {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 999;
  width: 100%;
  height: 2rem;
  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
  box-shadow: 2px 1px 10px #999;
  background-color: #fff;
  z-index: 999;
}

.classify .topNav li {
  width: 25%;
  float: left;
  text-align: center;
  line-height: 1.6rem;
  border-radius: 30px;
}

.classify .topNav .active {
  background-color: deepskyblue;
}

.classify .searchBar {
  height: 2.4rem;
  width: 100%;
}

.classify .content {
  width: 96%;
  margin: 0 2%;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.classify .content .classify_items {
  width: 100%;
}

.classify .content .one-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.empty {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
