.bookstore {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

.bookstore .head {
  height: 3rem;
  width: 100%;
  background-color: #fdeedb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #666666;
  letter-spacing: .2rem;
}

.bookstore .head .left, .bookstore .head .right {
  width: 6rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  letter-spacing: .1rem;
}

.bookstore .head .left i, .bookstore .head .right i {
  margin-right: .2rem;
}

.bookstore .head .center {
  font-size: 1rem;
}

.bookstore .content {
  width: 96%;
  margin: 0 2%;
  overflow: auto;
}

.bookstore .content .bookItem, .bookstore .content .swipe-wrapper {
  width: 100%;
  height: 100%;
}

.bookstore .content .bookItem .swipe_item, .bookstore .content .swipe-wrapper .swipe_item {
  width: 100%;
  background-color: #dbdbd4;
  margin-top: .5rem;
  box-sizing: border-box;
  padding: .5rem;
}

.bookstore .content .bookItem .swipe_item .item-inner, .bookstore .content .swipe-wrapper .swipe_item .item-inner {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookstore .content .bookItem .swipe_item .item-inner .icon, .bookstore .content .swipe-wrapper .swipe_item .item-inner .icon {
  width: 20%;
  height: 4rem;
}

.bookstore .content .bookItem .swipe_item .item-inner .text, .bookstore .content .swipe-wrapper .swipe_item .item-inner .text {
  width: 80%;
  text-align: left;
  padding-left: 1rem;
}

.bookstore .content .bookItem .swipe_item .item-inner .text .item-name, .bookstore .content .swipe-wrapper .swipe_item .item-inner .text .item-name {
  height: 2rem;
  line-height: 2rem;
  text-align: left;
  font-size: .8rem;
  font-weight: bold;
}

.bookstore .content .bookItem .swipe_item .item-inner .text p, .bookstore .content .swipe-wrapper .swipe_item .item-inner .text p {
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: left;
  font-size: .6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.bookstore .content .emptyshow {
  width: 100%;
  height: 100%;
}
