.user{
    width: 100%;
    height: 100%;
    .head{
        height: 3rem;
        width: 100%;
        background-color: rgb(252, 249, 249);
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #666666;
        border-bottom: 2px solid #333;
        letter-spacing: .2rem;
        .left,.right{
            width: 6rem;
            height: 3rem;
            text-align: center;
            line-height: 3rem;
            letter-spacing: .1rem;
            i{
                margin-right: .2rem;
            }
        }
        .center{
            font-size: 1rem;
        }
    }
    .content{
        width: 96%;
        margin: 0 2%;
        // width: 100%;
        height: 27.5rem;
        // max-height: 100%;
        overflow: auto;
        .userInfo{
            width: 100%;
            height: 6rem;
            // background-color: rgb(240, 221, 221);
            margin: .5rem 0;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            dl{
                display: flex;
                justify-content: center;
                // align-items: center;
                // align-items: center;
                box-sizing: border-box;
                padding-top: .7rem;
                dt{
                    width: 23%;
                    height: 4.5rem;
                    background-color: #fff;
                    border: 1px solid rgb(233, 231, 231);
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    i{
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-size: 2rem;
                        text-align: center;
                        line-height: 4.5rem;
                        color: #666666;
                    }
                }
                dd{
                    width: 62%;
                    height: 4.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    box-sizing: border-box;
                    padding-left: 1rem;
                    // background-color: #9b9595;
                    div{
                        width: 100%; 
                        height: 1.5rem;
                        font-size: .7rem;
                        color: #666666;
                        // background-color: #5e4e4e;
                        line-height: 1.5rem;
                        .age{
                            box-sizing: border-box;
                            padding-top: .5rem;
                            line-height: 1rem;
                            span{
                                display: block;
                                font-size: .6rem;
                            }
                        }
                    }
                    .unlog{
                        width: 100%; 
                        color: #666666;
                        // background-color: #5e4e4e;
                        // line-height: 2rem;
                        span{
                            display: block;
                            font-size: .7rem;
                            width: 4rem;
                            height: 1.2rem;
                            border: 1px solid #666;
                            border-radius: .5rem;
                            text-align: center;
                            line-height: 1.2rem;
                            margin-top: .4rem;
                        }
                    }
                    
                }
            }
        }
        .accountSafe{
            width: 100%;
            height: 2rem;
            margin-bottom: .5rem;
            background-color: rgb(244, 245, 247);
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                width: 50%;
                height: 100%;
                line-height: 2rem;
                font-size: .9rem;
                color: #666;
                box-sizing: border-box;
                padding-left: 1rem;
            }
            i{
                width: 10%;
                font-size: .7rem;
                color: rgb(129, 128, 128);
            }
        }
        .myInfo{
            width: 100%;
            height: 8rem;
            margin-bottom: 2rem;
            background-color: rgb(243, 244, 245);
            .myInfoItem{
                width: 100%;
                height: 2rem;
                // margin-bottom: .5rem;
                background-color: rgb(244, 244, 245);
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #ddd;
                span{
                    width: 50%;
                    height: 100%;
                    line-height: 2rem;
                    font-size: .9rem;
                    color: #666;
                    box-sizing: border-box;
                    padding-left: 1rem;
                }
                i{
                    width: 10%;
                    font-size: .7rem;
                    color: rgb(129, 128, 128);
                }
                &:last-child{
                    border: none;
                }
                
            }
        }
        .logout{
            width: 100%;
            height: 2rem;
            margin-bottom: .5rem;
            // background-color: rgb(250, 215, 210);
            display: flex;
            justify-content: center;
            align-items: center;
            .out{
                width: 12rem;
                height: 2rem;
                background-color: rgb(99, 98, 98);
                line-height: 2rem;
                text-align: center;
                font-size: .9rem;
                color: rgb(253, 252, 252);
                border: 1px solid rgb(170, 167, 167);
                border-radius: .6rem;
                // margin: 0 auto;
            }
        }
    }

}
.readingTime{
    // display: none;
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: rgb(233, 232, 232);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 0 10%;
    select{
        // width: 100%;
        border: 1px solid rgb(185, 185, 185);
        font-size: .5rem;
        color: #666666;
        padding-left: 1rem;
        box-sizing: border-box;
        option{
            &:hover{
                background-color: #eee;
                color: #666666;
            }
        }
    }
    input{
        // width: 80%;
        height: .7rem;
        margin-top: .2rem;
        font-size: .5rem;
    }
    button{
        width: 100%;
        // height: .7rem;
        margin-top: .2rem;
        background-color: #838282;
        color: #fff;
    }
}